:root {
    --primary-gray-deprecated: #e5e5e5;
    --body-gray-deprecated: #f3f4f7;
    --gray-100-deprecated: #f8f8f8;
    --gray-200-deprecated: #f0f0f0;
    --gray-400-deprecated: #ced4da;
    --gray-900-deprecated: #212529;
    --light-blue-deprecated: #d5e9ff;
    --indigo-deprecated: #6610f2;
    --top-idea-deprecated: #d49300;
    --red-alpha-50-deprecated: #d1574c80;
    --light-blue-alpha-50-deprecated: #d5d7da80;
    --blue-alpha-50-deprecated: #3ca7ff80;
    --gray-600-alpha-50-deprecated: #8a8a8a80;
    --primary-alpha-50-deprecated: #487ee080;
    --gray-100-alpha-50-deprecated: #dadada80;
    --electric-violet-deprecated: #8f00ff;
    --btn-red-border-color-hover-deprecated: #9f2d23;
    --btn-light-border-color-hover-deprecated: #dfdfdf;
    --btn-primary-bg-hover-deprecated: #2057bd;
    --twitter-color: #38a1f3;
    --reddit-color: #ff5700;
    --facebook-color: #3b5998;
    --linkedIn-color: #0077b5;
    --email-color: #999;
    --black-98-grad: linear-gradient(90deg, var(--black-98-alpha-0) 0%, var(--black-98) 100%);
    --black-95-grad: linear-gradient(90deg, var(--black-95-alpha-0) 0%, var(--black-95) 100%);
    --black-90-grad: linear-gradient(90deg, var(--black-90) 0%, var(--black-100-95) 100%);
    --black-80-grad: linear-gradient(90deg, var(--black-80) 0%, var(--black-95) 100%);
    --black-70-grad: linear-gradient(90deg, var(--black-70-alpha-0) 0%, var(--black-70) 100%);
    --black-60-grad: linear-gradient(180deg, var(--black-60-alpha-50) 0%, var(--black-60) 100%);
    --black-40-grad: linear-gradient(180deg, var(--black-40-alpha-50) 0%, var(--black-40) 100%);
    --black-10-grad: linear-gradient(90deg, var(--black-10) 0%, var(--white-100) 100%);
    --black-5-grad: linear-gradient(90deg, var(--black-5-alpha-0) 0%, var(--black-5) 100%);
    --white-100-grad: linear-gradient(90deg, var(--white-100-alpha-0) 0%, var(--white-100) 100%);
    --red-90-grad: linear-gradient(90deg, var(--red-90-alpha-50) 0%, var(--red-90) 100%);
    --orange-60-grad: linear-gradient(90deg, var(--orange-60-alpha-50) 0%, var(--orange-60) 100%);
    --teal-80-grad: linear-gradient(90deg, var(--teal-80-alpha-50) 0%, var(--teal-80) 100%);
    --box-shadow: 0 8px 8px var(--black-100-alpha-15);
    --shadow-elevation-1: 0 0 10px rgba(0, 0, 0, .2);
    --shadow-elevation-2: 0 4 8px rgba(0, 0, 0, .25);
    --shadow-elevation-3: 0 0 10px rgba(0, 0, 0, .75);
    --shadow-elevation-4: 0 4px 8px rgba(0, 0, 0, .75);
    --black-100: #000;
    --black-100-alpha-80: #000c;
    --black-100-alpha-75: #000000bf;
    --black-100-alpha-50: #00000080;
    --black-100-alpha-25: #00000040;
    --black-100-alpha-15: #00000026;
    --black-100-alpha-10: #0000001a;
    --black-100-alpha-0: #0000;
    --black-98: #04080b;
    --black-98-alpha-0: #04080b00;
    --black-95: #111517;
    --black-95-alpha-0: #11151700;
    --black-90: #232a32;
    --black-80: #2c3032;
    --black-80-alpha-0: #2c303200;
    --black-70: #333;
    --black-70-alpha-0: #3330;
    --black-70-alpha-50: #33333380;
    --black-60: #434348;
    --black-60-alpha-50: #43434880;
    --black-50: #555;
    --black-50-alpha-10: #5555551a;
    --black-40: #697173;
    --black-40-alpha-50: #69717300;
    --black-35: #757575;
    --black-30: #838d8f;
    --black-30-alpha-30: #838d8f4d;
    --black-30-alpha-20: #838d8f33;
    --black-20: #acacac;
    --black-20-alpha-20: #acacac33;
    --black-10: #dbdbdb;
    --black-5: #f2f4f7;
    --black-5-alpha-0: #f2f4f700;
    --white-96: #f3f4f7;
    --white-100: #fff;
    --white-100-alpha-75: #ffffffbf;
    --white-100-alpha-50: #ffffff80;
    --white-100-alpha-0: #fff0;
    --red-100: #c9392c;
    --red-100-alpha-75: #c9392cbf;
    --red-95: #e32b30;
    --red-90: #d23f31;
    --red-90-alpha-50: #d23f3180;
    --red-80: #d94d41;
    --orange-100: #ff1a00;
    --orange-90: #ea4215;
    --orange-80: #ff3c00;
    --orange-60: #ff7200;
    --orange-60-alpha-50: #ff720080;
    --orange-60-alpha-0: #ff720000;
    --yellow-100: #ff7200;
    --yellow-100-alpha-50: #ff720080;
    --yellow-90: #efa818;
    --yellow-85: #fec20f;
    --yellow-80: #fcc131;
    --yellow-70: #dfbf18;
    --green-100: #3d5f12;
    --green-90: #5d921c;
    --green-80: #70c30e;
    --green-75: #85c90e;
    --green-60: #9ace49;
    --green-50: #a9b667;
    --teal-100: #0a7b44;
    --teal-100-alpha-75: #0a7b44bf;
    --teal-100-alpha-50: #0a7b4480;
    --teal-80: #0f9d58;
    --teal-80-alpha-50: #0f9d5880;
    --teal-75: #32a667;
    --teal-50: #00d885;
    --teal-45: #67d9a2;
    --blue-100: #410cda;
    --blue-80: #2867db;
    --blue-75: #1a98ff;
    --blue-70: #5994ff;
    --blue-50: #7cb5ec;
    --purple-100: #d423c3;
    --sa-body-bg-color: var(--white-96);
    --sa-link-color: var(--blue-80);
    --sa-card-bg-color: var(--white-100);
    --sa-invert-default-color: var(--white-100);
    --sa-text-color-1: var(--black-100);
    --sa-text-color-2: var(--black-35);
    --sa-text-color-3: var(--black-50);
    --sa-negative-color: var(--red-100);
    --sa-positive-color: var(--teal-100);
    --sa-section-separator-color: var(--black-10);
    --sa-section-separator-thin-color: var(--black-10);
    --sa-very-bearish-color: var(--red-95);
    --sa-bearish-color: var(--orange-100);
    --sa-neutral-color: var(--yellow-90);
    --sa-bullish-color: var(--green-60);
    --sa-very-bullish-color: var(--green-90);
    --sa-modal-container-bg-color: var(--white-100);
    --sa-card-bg-transparent-color: hsla(0, 0%, 100%, 0);
    --sa-content-hide-gradient: linear-gradient(to top, var(--white-100), hsla(0, 0%, 100%, .5));
    --sa-spinner-color-1: var(--black-10);
}