#customer_info_wrap {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    width: 100%
}

.customer_name {
    text-align: left;
    color: #555;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: bold;
}

.filter select {
    width: 150px;
    height: 28px;
    color: #666;
    border: 1px #d1d1d1 solid;
    border-radius: 2px;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 13px;
    text-align: center
}

#customer_info {
    width: 100%;
    min-height: 10px;
    margin-top: 10px;
    padding: 5px;
    border: 1px #ccc solid;
}

#view_customer_details {
    width: 100%;
    margin-top: 5px;
    margin-left: 0px;
    color: #555;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 14px;
}

#view_customer_details th {
    width: 100px ! important;
    text-align: right;
    font-weight: normal;
}

#view_customer_details td {
    width: 800px;
    color: #555;
    font-weight: bold;
}

#view_customer_details tr td {
    padding: 5px;
}

.customers table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
    background: #fff;
    border: 1px solid #d1d1d1
}

.customers tr td {
    width: 100%;
    padding: 8px;
    text-align: left;
    color: #666;
    border-bottom: 1px solid #d1d1d1;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 14px;
    height: 30px;
}

.customers tr:hover {
    background: #efefef
}

.customers tr:last-child:hover {
    background: #fff
}

.customers th {
    color: #555;
    background-color: #E0E0E0;
    font: bold 14px Helvetica, sans-serif;
}

.customers {
    width: 60%;
    padding: 5px;
}

.customers header {
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: #999;
    color: #fff;
}

.filter {
    margin-right: 10px;
}

.customers header span {
    margin-right: 5px;
}

.add_customer_action {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.add_customer_action input,
.add_customer_action button {
    height: 35px
}

.add_customer_action input {
    width: 50%;
    border: 1px #d1d1d1 solid;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    padding: 5px
}

.add_customer_action input::placeholder {
    color: #999
}