body,
*,
html {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.trading_info_wrap {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    width: 100%
}

.trading_wrap {
    width: 70%;
    margin-top: 30px;
    text-align: center;
}

#tabs {
    width: 100%;
    height: 60px;
    background-color: #fff;
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    margin-top: 50px;
}

#tabs div {
    height: 60px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: bolder;
    border-right: 2px #e9eaed solid;
    flex-grow: 1;
    position: relative;
}

.active {
    background: white;
}

.inactive {
    background: aliceblue
}

.platforms,
.assets,
.notes {
    width: 100%;
    float: left;
    margin-top: 10px
}

.platforms {
    display: flex;
    flex-direction: column;
}

.new_trading_platform,
.new_asset_platform,
.platform_note,
.trading_note,
.edit_platform_note,
.platform_asset {
    display: none;
    width: 500px;
    /*height: 120px;*/
    flex-direction: column;
    background: #fff;
    position: fixed;
    top: 30%;
    left: 30%;
    padding: 10px;
    border: 1px solid #d1d1d1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.edit_platform_note,
.platform_note,
.trading_note,
.platform_asset {
    height: 410px;
}

.edit_platform_note input,
.platform_note input,
.trading_note input {
    font-weight: bold;
}

.edit_platform_note textarea,
.platform_note textarea,
.trading_note textarea,
.platform_asset textarea {
    font-weight: normal;
    font-size: 14px;
    margin-top: 10px;
    min-height: 250px;
    width: 100%;
    border: 1px solid #d1d1d1;
    background: #eff3f4;
}

.edit_platform_note textarea::placeholder,
.platform_note textarea::placeholder,
.trading_note textarea::placeholder {
    font-weight: normal;
    font-size: 14px;
}

#modal_add_asset,
#modal_add_platform,
#modal_add_note {
    position: absolute;
    top: 5px;
    right: 5px;
}

.new_asset_platform {
    height: 510px
}

#asset_type {
    font-family: 'Open Sans', sans-serif;
    height: 45px;
    margin-top: 10px;
    background: #eff3f4;
    border: 1px #d1d1d1 solid;
    outline: none;
}

#asset_description {
    height: 200px;
    width: 100%;
    background: #eff3f4;
    border: 1px #d1d1d1 solid;
    resize: none;
    margin-top: 10px;
    outline: none;
}

#asset_description::placeholder,
#asset_note::placeholder {
    font-size: 14px;
    font-weight: normal;
}

.action_wrap {
    display: flex;
    height: 40px;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
}

.action_wrap button:first-child {
    margin-right: 5px;
}

.new_trading_platform input,
.new_asset_platform input,
.edit_platform_note input,
.platform_note input,
.trading_note input,
.platform_asset input {
    margin-top: 10px;
    height: 45px;
    border: 1px #d1d1d1 solid;
    width: 100%;
    box-sizing: border-box;
    padding-left: 5px;
    background: #eff3f4;
    border-radius: 3px;
    color: #353535;
    font-size: 14px;
}

.platform_asset input::placeholder,
.edit_platform_note input::placeholder,
.platform_note input::placeholder,
.new_trading_platform input::placeholder,
.new_asset_platform input::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.new_asset_platform select,
.platform_asset select {
    font-family: 'Open Sans';
    font-size: 14px;
}

.platform_asset select {
    height: 45px;
    background: #eff3f4;
    border: 1px #d1d1d1 solid;
}

.platform,
.asset {
    width: 100%;
    border: 1px #d1d1d1 solid;
    height: 55px;
    display: flex;
    background: #fff;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 10px;
}

.platform {
    height: 100px;
    border-top-left-radius: 10px;
}

.platform:hover {
    box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
}

.asset_name {
    width: 100%
}

.asset_type {}

.asset_action {
    width: 10%
}

.asset_action button {
    margin-left: 5px;
}


/*.trading_platforms,
.trading_assets,
.trading_notes {
    margin-top: 10px;
}*/

.trading_platforms {
    width: 100%;
}

.trading_platforms ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.platform_logo {
    width: auto;
    height: 70px;
    display: flex;
    align-items: center;
}

.platform_logo img:hover {
    cursor: pointer
}

.platform_logo img {
    max-height: 100%;
    max-width: 100px;
    width: auto;
    height: auto;
}

.platform_name {
    display: flex;
    width: 80%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'IBM Plex sans', sans-serif;
    margin-left: 20px;
}

.platf_actions {
    width: 15%;
    display: flex;
    border: 1px #fff solid;
    border-radius: 4px;
}

.platf_actions button {
    border-right: 1px #fff solid;
}

.platf_actions button:last-child {
    border-right: none;
}


/*
.platf_actions .action_menu {
    background: #fff;
    border: 0
}

.platf_actions .action_menu:hover {
    background: #d1d1d1;
}

.pl_menu {
    position: relative;
}*/

.action_menu {
    background: #fff;
    border: 1px #fff solid;
    color: #555;
}

.action_menu:hover {
    background: #eee;
    border: 1px #eee solid;
    border-radius: 50px;
}

.context_menu {
    display: none;
    background: #fff;
    height: 210px;
    width: 200px;
    position: absolute;
    /*top: 20px;
    right: 20px;*/
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 5px;
}

.context_menu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 100%;
    height: 100%;
    float: left;
}

.context_menu ul li {
    width: 100%;
    height: 35px;
    cursor: pointer;
}

.context_menu ul li:hover {
    background-color: #eee;
}

.search_wrap {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
}

.search_wrap input {
    width: 100%;
    height: 45px;
    border: 1px #d1d1d1 solid;
    box-sizing: border-box;
    font-size: 16px;
    padding-left: 10px;
    font-family: 'Open Sans';
    background: #eff3f4
}

.search_wrap input::placeholder {
    font-family: 'Open Sans';
    font-size: 14px;
}

.trading_feeds {
    margin-top: 10px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
}

.note {
    width: 100%;
    min-height: 50px;
    display: flex;
    align-items: center;
    background: aliceblue;
    margin-bottom: 5px;
    border: 1px #d1d1d1 solid;
    box-sizing: border-box;
    padding-left: 5px;
    justify-content: flex-start;
    padding: 5px
}

.note_text {
    width: 90%;
    box-sizing: border-box;
    padding: 10px;
    display: inherit;
    justify-content: flex-start;
}

.note_action {
    width: 8%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    gap: 5px;
}

.note_title {}

.asset_display_as {
    margin-top: 10px;
    background: #fff;
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.asset_display_as button {
    margin: 5px;
}

.assets_grid {
    display: grid;
    height: auto;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    margin-top: 20px;
}

.asset_card {
    width: 300px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
    overflow: hidden;
}

.asset_top {
    height: 70px;
    color: #fff;
    background: #55bc75;
    /*background-image: linear-gradient(#55bc75, #55bc75 50%, #4daf7c 50%);*/
    width: 100%;
    position: relative;
}

.asset_info {
    width: 100%;
    height: 300px;
    padding: 21px 21px 41px;
    color: #8a786a;
    overflow: hidden;
    box-sizing: border-box;
}

.asset_impr {}

.asset_symbol {
    position: absolute;
    text-transform: uppercase;
    font-size: 22px;
    top: 5px;
    right: 10px;
    font-weight: bold;
}

.asset_card_name {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    display: flex;
    line-height: normal;
    height: 60px;
}

.asset_info_block {
    background-color: #f5f0ec;
    width: 100%;
    border-radius: 3px;
    padding: 4px 0;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.asset_info_block dt {
    font-weight: bold;
}

.asset_info_block dt,
.asset_info_block dd {
    margin: 0;
    padding: 0;
    line-height: normal;
}

.asset_price_change {
    height: 60px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.asset_price_change span {
    display: block;
    height: 40px;
    line-height: 40px;
    color: white;
    background-color: #4eaf7c;
    text-align: center;
    border-radius: 3px;
    font-weight: bold;
    flex-grow: 1;
    /*flex-basis: 30%;*/
    margin: 12px
}

span.ripple {
    position: absolute;
    /* The absolute position we mentioned earlier */
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: rgba(255, 255, 255, 0.7);
}

.financial_markets {
    width: 100%;
    margin-top: 40px;
    height: auto;
}

@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

@media only screen and (max-width:767px) {
    .note {
        display: flex;
        flex-direction: column;
    }
    .trading_wrap {
        width: 90%;
    }
    .note_text {
        width: 100%;
        padding: 10px;
        word-break: break-all;
    }
    .note_action {
        height: 50px;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
    }
    .platform_name {
        width: 60%;
        font-size: 20px;
        font-weight: bold;
    }
    .platform_logo {
        display: none;
        height: 60px;
        width: 60px;
    }
    .platform_note,
    .trading_note,
    .platform_asset {
        top: 15%;
        left: 5%;
        width: 90%;
    }
    #tabs div {
        align-items: center;
        justify-content: flex-start;
        box-sizing: border-box;
        padding-left: 15px;
    }
    #tabs button {
        padding: 3px 5px
    }
    .assets_grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .trading_feeds {
        padding: 0;
    }
    .platf_actions button {}
    .platf_actions {
        width: auto;
        display: inline-flex;
        border: 1px #ccc solid;
        border-radius: 4px;
    }
}

@media (min-width:1200px) and (max-width:1600px) {
    .note_text {
        width: 90%;
    }
}