@media (min-width:320px) {
    /* smartphones, iPhone, portrait 480x320 phones */
    #panels {
        width: 90%;
    }
}

@media (min-width:481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width:641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width:961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width:1025px) {
    /* big landscape tablets, laptops, and desktops */
    .panels {
        text-align: center;
        width: 100%;
        margin-top: 10px auto;
        width: 80%;
    }
    .dash_panel {
        height: 150px;
        width: 100%;
        background-color: #6BB8E8;
        color: #666;
        font-family: "Open Sans";
        /* font-size: 30px; */
        /*display: flex;*/
        border-radius: 4px;
        box-sizing: border-box;
        padding: 5px;
        /*box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);*/
    }
    .dash_panel a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        width: 100px;
    }
    .panel_icon {
        color: #fff;
        font-weight: bold;
        text-align: center;
        height: 100px;
        line-height: 100px;
        width: 15%;
        font-size: 24px;
        /*float: left;*/
    }
    .panel_text {
        /*float: left;*/
        height: 100px;
        line-height: 100px;
    }
    .panel_text span {
        margin-left: 10px;
    }
    .dash_body {
        height: 100px;
        width: 100%;
        display: flex;
    }
    .dash_footer {
        width: 100%;
        display: flex;
        align-items: center;
        height: 40px;
        justify-content: flex-end;
        background-color: rgba(0, 0, 0, 0.1);
        transition: all 0.2s linear;
        box-sizing: border-box;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    .dash_footer span {
        color: #fff;
        margin-right: 5px;
    }
    #panels {
        display: grid;
        height: auto;
        grid-gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
        width: 60%;
        margin: 70px auto;
    }
    .right-panel-side {
        height: 100%;
        width: 85%;
        color: #fff;
        /*font-weight: bold;*/
        background-color: inherit;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .right-panel-side span {
        font-size: 50px;
    }
    .left-panel-side {
        height: 100%;
        width: 30%;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .left-panel-side span {
        font-size: 40px;
        color: rgba(255, 255, 255, 0.25);
    }
}

@media (min-width:1281px) {
    /* hi-res laptops and desktops */
}