/* zoznam taskov */

#tasks { 
    margin-top: 10px;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #fff;
}

#tasks li {
    width: 100%;
}


.tasks_wrap {
    width: 95%;
    min-height: 300px;
    margin-top: 5px;
    padding: 5px;
    float: left;
    margin: auto 30px;
}

.task {
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 50px;
    border-bottom: 1px #d1d1d1 solid;
    border-left: 1px #d1d1d1 solid;
    border-right: 1px #d1d1d1 solid;
    box-sizing: border-box;
    padding: 5px;
    justify-content:flex-start;
    flex: 1 1 0;
}

.task_note_count {
    width: 35px;
}

.task_text {
    font-weight: normal;
    width: 45%;
    flex-wrap: wrap;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 16px;

}

.task_date {
    width: 100px;
    text-align: center;
    height:100%;
}

#task_maintable select,
.task_status select,
.task_priority select {
    padding: 5px;
    font-family: 'Open Sans';
}


/* #task_maintable tr { border: 1px solid #f3f3f3} */

#task_maintable tr {
    height: 55px;
    border-bottom: 1px solid #ddd
}


#task_notes {
    width: 50%;
    margin: 0 auto;
}

.task_comment {
    border: 1px #d1d1d1 solid;
    width: 100%;
    height: 100px;
    background: #fff;
    box-sizing: border-box;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    float: left;
}

.task_comm_text {
    width: 100%;
    height: 75%;
    padding: 5px;
    box-sizing: border-box;
    float: left
}

.task_comm_created_date {
    width: 100%;
    border-top: 1px #d1d1d1;
    height: 35%;
    padding: 5px;
    box-sizing: border-box;
    float: left;
}

.task_comm_created_date span {
    float: right;
    color: #657786
}

#task_priority_list,
.task_status_list,
#con_menu {
    display: none;
    position: absolute;
    height: 75px;
    width: 80px;
    border: 1px #ddd solid;
    background: #fff;
    z-index: 100;
    box-sizing: border-box;
    padding: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.task_status_list,
#con_menu {
    height: auto;
    width: 200px;
    box-sizing: border-box;
    padding: 5px;
}

#task_priority_list {
    top: 5px;
    right: 5px;
}

#task_priority_list ul,
.task_status_list ul,
#con_menu ul {
    padding: 0;
    margin: 0;
    list-style: none
}

#task_priority_list ul li,
.task_status_list ul li,
#con_menu ul li {
    height: 30px;
    line-height: 30px;
    width: 100%;
}

#task_priority_list ul li:hover,
.task_status_list ul li:hover,
#con_menu ul li:hover {
    background: #ddd;
    color: #fff;
    cursor: pointer;
}

.task_group_panel {
    margin-top: 10px;
    float: left;
    width: 100%;
    border: 1px #d1d1d1 solid;
    background: #fff;
}

.task_group_panel_header,
.scrum_panel_header {
    background: #eee;
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 2px;
    border-bottom: 1px #d1d1d1 solid;
    height: 40px;
    line-height: 40px;
}

.scrum_panel_header {
    border: 1px #d1d1d1 solid;
    text-align: center;
    font-weight: bold;
    color: #666;
    line-height: 40px;
}

.task_group_panel_header span {
    float: right;
    margin-right: 4px;
    font-weight: bold;
}

.task_group_panel_body {
    width: 100%;
    float: left;
}

.task_group_text {
    float: left;
    width: 55%;
    height: 40px;
    line-height: 40px;
    text-indent: 10px;
    font-weight: bold
}

.task_percent_done {
    float: left;
    width: 5%;
    height: 40px;
    line-height: 40px;
}

.task_progress {
    width: 10%;
}

.task_status {
    float: left;
    width: 8%;
    height: 40px;
    line-height: 40px;
}

.task_priority {
    width: 5%;
    height: 40px;
    line-height: 40px;
}

.task_category {
   
    width: 10%;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.task_actions {
    /*display: flex;*/
    width: 300px;
    justify-content: center;
}

.task_actions ul {
    width: 100%;
}

.task_actions ul li {
    display: inline;
    margin-left: 5px;
}

.task_date_created {
   
    height: 40px;
    line-height: 40px;
    width: 5%;
}

#add_task {
    float: left;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    text-align: right;
}

/*table#tasks {
    width: 100%;
    margin-top: 10px;
    padding: 0px;
    border-collapse: collapse;
}

table#tasks tr {
    height: 60px;
}


table#maintable  tr td {border:1px solid #ccc;padding:2px 1px;}

table#tasks tr td {
    padding-top: 6px;
    padding-bottom: 6px;
    color: #666;
    border: 0px;
    border-bottom: 1px #999 solid;
}

table#tasks tr td a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 30px
}

table#tasks td {
    font-family: 'Open Sans' sans-serif;
    font-size: 14px;
}

#task_comments {
    margin-top: 20px
}

#task_comments tr td {
    height: 40px;
    color: #666;
    border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    background: #fff;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 14px;
}

*/